@charset "utf-8";
/* CSS Document */


@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, blockquote, p, pre, dl, dd, ol, ul, caption, th, td, form, fieldset, legend, input, button, textarea, address {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
ol, ul {
    list-style: none outside none;
}
fieldset, img {
    border: 0 none;
}
address, cite, dfn, em, var {
    font-style: normal;
}
code, kbd, pre, samp {
    font-family: courier new,courier,monospace;
}
input, button, textarea, select {
    font-size: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    font-size: inherit;
}
abbr[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
a, a:hover {
    text-decoration: none;
}
a, label, *:focus {
    outline: 0 none;
}
body {
    color: #000000;
    font: 12px arial,微软雅黑,黑体,文泉驿黑体,宋体,sans-serif;
}
input:-moz-placeholder {
    color: #CCCCCC;
}
.clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
.clearfix {
}
.top {
    background: none repeat scroll 0 0 #ECECEC;
    border-bottom: 1px solid #D9D9D9;
    height:100px;
    padding-top: 25px;
}
.logo, .content, .footer {
    margin: 0 auto;
    padding: 0 30px;
    width: 900px;
}
.content {
    background:url(../images/zhucem.jpg) no-repeat scroll 0 80px transparent;
    height: 500px;
    padding-top: 80px;
}
.suc_content {
    height: 630px;
    margin: 0 auto;
    padding-top: 80px;
    width: 903px;
}
.suc_kuang {
    background:url(../images/con_bg.png) repeat-x scroll left top #FFFFFF;
}
.suc_botm {
    background:url(../images/bom_cor.png) no-repeat scroll left bottom transparent;
    height: 62px;
}
.links {
    display: inline-block;
}
.links li {
    border-right: 1px solid #FF6600;
    float: left;
}
.links li.copyright {
    border-right: medium none;
}
.footer {
    margin-top: 95px;
    text-align: center;
}
.footer a {
    color: #FF6600;
    padding: 0 10px;
}
.footer span {
    color: #999999;
    margin-left: 10px;
}
.sub_bg, .input_kuang, .input_b, .sub_login, .mt_login {
    border-radius: 3px 3px 3px 3px;
}
.sub_bg, .mt_login, .input_b {
    box-shadow: 0 1px 1px #F0F0F0;
}
.sub_bg {
    background:url(../images/s_bgs.png) repeat-x scroll 0 -40px transparent;
    border: 1px solid #DADADA;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    height: 36px;
    width: 132px;
}
.input_kuang {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background:url(../images/s_bgs.png) repeat-x scroll 0 -120px #FFFFFF;
    border-color: #CCCCCC #E3E3E3 #E3E3E3;
    border-image: none;
    border-right: 1px solid #E3E3E3;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 1px #FFFFFF;
    display: inline-block;
    font-size: 14px;
    height: 20px;
    padding: 8px;
    width: 252px;
}
.error_put {
    border: 2px solid #F18447;
    padding: 7px;
}
.sub_login {
    background:#69ae5b;
    border: 1px solid #4e8a40;
    cursor: pointer;
    height: 40px;
    margin: 0 auto;
    width: 130px;
}
.no_bg {
    background-color: transparent;
    border: 0 none;
    cursor: pointer;
    display: block;
    padding: 0;
}
.sub_bg input {
    height: 36px;
    width: 132px;
}
.sub_login input {
    color: #FFFFFF;
    font: 700 16px/40px 微软雅黑,黑体,文泉驿黑体;
    height: 40px;
    width: 130px;
}
.sub_login .sub_login_a {
    color: #FFFFFF;
    display: inline-block;
    font: 700 16px/40px 微软雅黑,黑体,文泉驿黑体;
    height: 40px;
    text-align: center;
    width: 130px;
}
.mt_login {
    background:url(../images/s_bgs.png) repeat-x scroll 0 -40px transparent;
    border: 1px solid #DADADA;
    color:#497e48;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
    padding-top: 14px;
    text-align: center;
    width: 273px;
}
.pointer {
    cursor: pointer;
}
.color_33 {
    color: #333333;
}
.color_h {
    color: #C2C2C2;
}
.color_99 {
    color: #999999;
    line-height: 14px;
}
.cor_yellow {
    color: #FF7800;
    text-decoration: underline;
}
.marl_10 {
    margin-left: 10px;
}
.marl_20 {
    margin-left: 20px;
}
.marl_40 {
    margin-left: 40px;
}
.marl_170 {
    margin-left: 170px;
}
.mart_10 {
    margin-top: 10px;
}
.marb_14 {
    margin-bottom: 14px;
}
.mart_60 {
    margin-top: 60px;
}
.mart_18 {
    margin-top: 18px;
}
.mart_30 {
    margin-top: 30px;
}
.an_style {
    margin-left: 66px;
    margin-top: 16px;
}
.flt_l {
    float: left;
}
.flt_ln {
    float: left;
}
.long_width {
    width: 326px;
}
p.intrd {
    color: #B0B0B0;
    margin-top: 10px;
}
p.lht {
    line-height: 1.5;
}
.val_m {
    vertical-align: middle;
}
.val_mT {
    vertical-align: middle;
}
.teln_m {
    text-align: center;
}
.por_r {
    position: relative;
}
.check_zi {
    float: left;
    height: 20px;
    line-height: 20px;
    margin: 10px 0 0 10px;
}
.mt_newwidth {
    color: #000000;
    font-weight: normal;
    margin-left: 4px;
    width: 90px;
}
.back_link {
    color: #FF6600;
    display: block;
    font-size: 14px;
    margin-top: 95px;
    text-decoration: underline;
}
.register p {
    font-size: 14px;
}
.change {
    margin-left: 140px;
    margin-top: 26px;
}
.h4_suc {
    color:#32AD6A;
    font-size: 22px;
    font-weight: bold;
    margin: 0 0 10px 30px;
    padding-top: 20px;
}
.suc_p {
    border-bottom: 1px dashed #E3E3E3;
    color: #999999;
    padding: 0 0 20px 30px;
}
.radio_quyu {
    font-size: 14px;
    margin: 50px 0 20px 290px;
}
.login_ta {
    margin: 0 20px 0 210px;
    position: relative;
}
.login_ta .input_kuang {
    display: inline-block;
    width: 290px;
}
.p_cor_hui {
    color: #999999;
    margin: 4px 0 0 290px;
}
.aln_r {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    line-height: 38px;
    text-align: right;
    width: 80px;
}
.juli {
    margin-right: 50px;
}
.hei_513 {
    border-color: #DADADA #DADADA -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    height: 513px;
}
.login_ta img {
    margin: 0 10px 0 5px;
    vertical-align: middle;
}
.error_icontwo {
    background:url(../images/icos.png) no-repeat scroll 0 -85px transparent;
    display: inline-block;
    height: 16px;
    margin-right: 6px;
    vertical-align: middle;
    width: 16px;
}
.error_icon, .ok_icon {
    background:url(../images/icos.png) no-repeat scroll 0 -32px transparent;
    display: inline-block;
    height: 16px;
    margin: 0 6px;
    vertical-align: middle;
    width: 16px;
}
.ok_icon {
    background:url(../images/icos.png) no-repeat scroll 0 -16px transparent;
}
.login_ta .la_height td {
    height: 48px;
    vertical-align: bottom;
}
.la_height .sub_login {
    margin-top: 6px;
}
.littlepop {
    display: none;
    position: absolute;
    right: 48px;
    top: -35px;
}
.popmessage {
    background: url(../images/icoss_bgs.png) repeat-x scroll 0 -252px transparent;
    border: 1px solid #E8D76B;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #E9E9E9;
    color: #FF0000;
    display: none;
    height: 18px;
    line-height: 1.1;
    padding: 10px;
}
.little_corner {
    background: url(../images/icosicos.png) no-repeat scroll 0 -74px transparent;
    display: block;
    height: 11px;
    margin-left: 13px;
    margin-top: -2px;
    overflow: hidden;
    position: relative;
    width: 12px;
    z-index: 1;
}
.prompt_info {
    color: #999999;
    left: 320px;
    line-height: 1.5;
    position: absolute;
    top: 10px;
    width: 240px;
    z-index: 2;
}
.login_ta .new_dinkuan {
    width: 106px;
}
.tips_1, .tips_2, .tips_3 {
    display: none;
}
.validate_info {
    color: #999999;
    line-height: 14px;
    margin-left: 10px;
    vertical-align: middle;
}
#validate_td .check_tips {
    left: 130px;
}
.login_form {
    background: url(../images/icoss_bg.jpg) repeat-x scroll left top #f8f8f8;
    float: right;
    width: 377px;
}
.pad_50 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DCDCDC #DCDCDC #D5D5D5;
    border-image: none;
    border-style: solid solid dashed;
    border-width: 1px;
    padding: 0 0 40px 50px;
}
.login_form h4 {
    color:#092145;
    font: 22px/1.1 "微软雅黑","黑体","文泉驿黑体";
    height: 52px;
    padding-top: 50px;
}
.cooke {
    color: #666666;
    margin: 0 0 20px;
    padding-top: 8px;
}
.Mradio {
    margin-right: 6px;
}
.radio_quyu .Mradio {
}
.sub_log a {
    color: #333333;
    display: inline-block;
    float: left;
    font-size: 14px;
    height: 14px;
    line-height: 1.5;
    margin: 10px 0 0 20px;
}
.ano_log {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #DCDCDC;
    border-image: none;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-style: none solid;
    border-width: medium 1px;
    padding: 30px 50px 10px;
}
.ano_log span {
    display: block;
}
.ano_log .mt_login {
    height: 30px;
    padding-top: 12px;
}
.ano_span_o {
    color: #000000;
    font-size: 14px;
}
.ano_span_t {
    background:url(../images/bom_corner.png) no-repeat scroll left bottom transparent;
    color: #999999;
    font-size: 12px;
    height: 46px;
    line-height: 1.1;
    text-align: center;
}
.third {
    color: #666666;
    /***line-height: 18px;
    margin-top: 29px;***/
	height:10px;
	margin-top:20px;
	display:block
}
.clear {clear:both;}
.third a {
    background:url(../images/third_logo.gif) no-repeat scroll 0 0 transparent;
    color: #666666;
    display: inline-block;
    height: 16px;
    line-height: 18px;
    padding: 0 14px 0 18px;
    vertical-align: text-bottom;
}
.third .qq {
    background-position: 0 0;
}
.third .qq:hover {
    background-position: 0 -16px;
}
.third .renren {
    background-position: 0 -32px;
}
.third .renren:hover {
    background-position: 0 -48px;
}
.third .sina {
    background-position: 0 -64px;
}
.third .sina:hover {
    background-position: 0 -80px;
}
.payOnline_Box td {padding:10px 0;}
.payOnline_Box .banks td {padding:10px 20px 10px 0;}
.register {
    margin: 0 auto;
    width: 650px;
}
.title {
    color: #FF7E00;
    font-size: 30px;
    padding-top:0px;
}
.register p {
    line-height: 22px;
}
.point_email {
    border-bottom: 1px dashed #C9C9C9;
    padding: 30px;
}
.point_phone {
    font-size: 14px;
    margin: 45px 0 0;
}
.point_time {
    color: #999999;
    font-size: 14px;
    padding: 25px;
}
.other {
    color: #999999;
    padding: 30px 0 0 83px;
    text-align: left;
}
.action {
    color: #FF6600;
    text-decoration: underline;
}
.back {
    color: #FF6600;
    display: inline-block;
    margin-top: 55px;
    text-decoration: underline;
}
.retrieve_pwd {
    border-bottom: 1px dashed #E3E3E3;
    color:#000000;
    font-size: 24px;
    font-weight: 400;
    height: 24px;
    line-height: 24px;
    padding: 30px;
    text-align: left;
}
.tips {
    font-size: 14px;
    margin-top: 98px;
}
.txt_input {
    margin: 30px 0 0;
    text-align: center;
}
.txt_input .mt_login {
    color: #000000;
    font-weight: normal;
    margin-left: 4px;
    padding-top: 12px;
    width: 110px;
}
.txt_input .goback {
    margin-top: 30px;
}
.next_btn {
    height: 35px;
    line-height: 35px;
    margin-top: 60px;
    width: 130px;
}
.email {
    font-size: 14px;
    margin: 30px 0 0 415px;
    text-align: left;
}
.phone {
    font-size: 14px;
    margin: 20px 0 0 415px;
    text-align: left;
}
.sure_btn {
    height: 35px;
    line-height: 35px;
    margin-top: 50px;
    width: 130px;
}
.email_tips {
    font-size: 14px;
    margin-top: 142px;
}
.orange {
    color: #FF7E00;
    font-size: 14px;
    text-decoration: underline;
}
.new_pwd {
    margin: 60px auto 0;
    width: 510px;
}
.new_pwd table td {
    height: 38px;
    line-height: 38px;
    padding-bottom: 12px;
}
.reset_pwd {
    margin-bottom: 20px;
}
.reset_pwd td {
    height: 150px;
}
.td2 {
    display: inline-block;
    position: relative;
}
.td2 .check_tips {
    left: 310px;
    position: absolute;
    top: 10px;
    width: 260px;
}
.msgTips {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.msgInfo {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #9F9F9F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    left: 50%;
    margin-left: -175px;
    margin-top: -170px;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 250px;
    z-index: 10;
}
.hide {
    display: none;
}
.login_ta td {
    height: 38px;
    padding-bottom: 12px;
}
.td1 {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    width:105px;
	text-align:right;
}
.font_14 {
    font-size: 14px;
}
.new_width {
    width: 290px;
}
.p_tips {
    font-size: 14px;
    margin-top: 110px;
    padding-top: 10px;
    text-align: center;
}
.new_tips {
    height: 32px;
    line-height: 16px;
    margin: 0 0 0 80px;
    padding: 0;
    text-align: left;
}
.pwd_p {
    font-size: 14px;
    line-height: 1.1;
    margin: 0 0 20px 84px;
}
.big_name {
    color: #FF7E00;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1;
}
.detail {
    margin: 50px 0 0 200px;
}
.user_info {
    margin-bottom: 40px;
}
.info {
    border-bottom: 1px dashed #E3E3E3;
    height: 25px;
    line-height: 25px;
    padding: 30px;
}
.info .left {
    color: #FF7E00;
    display: inline-block;
    float: left;
    font-size: 24px;
    font-weight: 400;
}
.info .right {
    display: inline-block;
    float: right;
    font-size: 12px;
}
.info .right a {
    color: #000000;
}
.photo {
    float: left;
    width: 120px;
}
.photo img {
    border: 1px solid #DCDCDC;
    box-shadow: 0 1px 2px #CDCDCD;
    display: block;
    height: 120px;
    width: 120px;
}
.photo a {
    color: #FF7E00;
    display: block;
    font-size: 12px;
    margin-top: 15px;
    text-align: center;
    text-decoration: underline;
}
.mess {
    float: left;
}
.mess td {
    font-size: 14px;
    font-weight: bold;
    height: 14px;
    padding-bottom: 22px;
}
.mess td.td_l {
    color: #999999;
    font-size: 14px;
    font-weight: normal;
    text-align: right;
    width: 80px;
}
.p_pop {
    display: inline-block;
    position: relative;
}
.p_pop:hover .pop {
    display: inline-block;
}
.pop {
    display: none;
    left: 16px;
    margin-left: 10px;
    padding-left: 10px;
    position: absolute;
    top: -24px;
    width: 400px;
    z-index: 10;
}
.doubt {
    background:url(../images/icos.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: inline-block;
    height: 16px;
    margin-left: 10px;
    vertical-align: middle;
    width: 16px;
}
.td_lht {
    background: url(../images/s_bgs.png) repeat-x scroll 0 -204px transparent;
    border: 1px solid #D8D8D8;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 3px 3px #F0F0F0;
    color: #999999;
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    padding: 6px 10px;
}
.lit_tip {
    background: url(../images/icos.png) no-repeat scroll 0 -63px transparent;
    display: inline-block;
    float: left;
    height: 11px;
    left: -1px;
    overflow: hidden;
    position: absolute;
    top: 16px;
    width: 12px;
    z-index: 11;
}
.servie {
    width: 564px;
}
.serve_title {
    border-bottom: 1px solid #FF7E00;
    clear: both;
    color: #FF7E00;
    font-weight: bold;
    margin-bottom: 11px;
    padding-bottom: 11px;
}
.mess td a {
    color: #FF7E00;
    font-size: 12px;
    font-weight: normal;
    margin-left: 20px;
    text-decoration: underline;
}
.servie a.mt_login {
    color: #000000;
    font-weight: normal;
    height: 36px;
    line-height: 36px;
    padding-top: 0;
    width: 130px;
}
.servie a.mt_login:hover {
    background:url(../images/sub_h.png) repeat-x scroll 0 0 transparent;
    border: 1px solid #DD621F;
    color: #FFFFFF;
}
.mess td a.mar_no {
    margin-left: 0;
}
.sub_links {
    padding-top: 10px;
}
.sub_links li {
    float: left;
    height: 50px;
    width: 144px;
}
.sub_links li.the_one {
    width: 132px;
}
.check_tips {
    background: url(../images/icos.png) no-repeat scroll 0 -32px transparent;
    display: none;
    height: 16px;
    line-height: 16px;
    margin-left: 10px;
    padding-left: 20px;
    vertical-align: middle;
}
.succ_tips {
    background: url(../images/icos.png) no-repeat scroll 0 -16px transparent;
    display: none;
    height: 16px;
    line-height: 16px;
    margin-left: 10px;
    vertical-align: middle;
    width: 16px;
}
.error .errortip, .empty .errortip, .repeat .errortip {
    border: 2px solid #F18447;
    padding: 7px;
}
.error .littlepop, .empty .littlepop, .error .error_tip, .empty .empty_tip, .repeat .repeat_tip, .succ .succ_tips {
    display: inline-block;
}
.login_ta .short {
    vertical-align: middle;
    width: 194px;
}
.login_ta .mt_login, .g_content .mt_login {
    color: #000000;
    font-weight: normal;
    height: 26px;
    margin-left: 4px;
    padding-top: 10px;
    width: 90px;
}
.login_ta .mt_login .gray {
    color: #CCCCCC;
}
html, body {
    height: 100%;
    width: 100%;
}
.gray {
    background: none repeat scroll 0 0 #000000;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}
.marl_8 {
    margin-left: 8px;
}
.dirlog {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #9F9F9F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    left: 50%;
    margin: -215px auto 0 -268px;
    position: absolute;
    top: 50%;
    width: 536px;
    z-index: 10;
}
.dirlog .sub_bg {
    float: left;
    width: 130px;
}
.dirlog .sub_bg input {
    width: 130px;
}
.dirlog_ta {
    margin-top: 16px;
}
.dirlog_h4 {
    background:: url(../images/dh_bg.jpg) repeat-x scroll 0 0 #F3F3F3;
    height: 48px;
    padding-left: 20px;
    padding-top: 2px;
}
.h_span {
    float: left;
    font-size: 14px;
    line-height: 16px;
    margin-top: 16px;
    width: 150px;
}
.close {
    background: url(../images/icos.png) no-repeat scroll 0 -48px transparent;
    display: inline-block;
    float: right;
    height: 15px;
    margin: 16px 16px 0 0;
    overflow: hidden;
    text-indent: -200px;
    width: 15px;
}
.flie_but {
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px dashed #D4D4D4;
    height: 300px;
    padding: 16px 0 0 20px;
}
.file_kuang {
    margin-left: -200px;
    visibility: hidden;
}
.sub_anniu {
    border-top: 1px solid #FFFFFF;
    padding: 10px 0 10px 20px;
}
.green_sub {
    background: url(../images/s_bgs.png) repeat-x scroll 0 -82px transparent;
    border: 1px solid #4E9E22;
    color: #FFFFFF;
}
.green_sub input {
    color: #FFFFFF;
}
.height_o {
    height: 430px;
}
.ret_a {
    color: #000000;
    font-size: 14px;
    text-decoration: underline;
}
.cut_img_l, .cut_img_b {
    background: none repeat scroll 0 0 #E5E5E5;
    display: inline;
    float: left;
}
.cut_img_l {
    height: 184px;
    margin: 30px 90px 0 30px;
    width: 184px;
}
.cut_img_b {
    height: 120px;
    margin-top: 60px;
    width: 120px;
}
.dirlog .clear {
    float: none;
    overflow: hidden;
}
.msgTips {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.msgInfo {
    background: none repeat scroll 0 0 #FCFCFC;
    border: 1px solid #9F9F9F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    left: 50%;
    margin: -215px auto 0 -268px;
    padding: 30px;
    position: absolute;
    text-align: center;
    top: 50%;
    z-index: 10;
}
.hide {
    display: none;
}
.suc_limit {
    height: 586px;
}
.hei_444 {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #DADADA #DADADA -moz-use-text-color;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    height: 444px;
}
.left_name {
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.m_name {
    color: #333333;
}
.m_func {
    color: #FF7E00;
    margin-left: 10px;
}
.guide {
    margin: 26px;
}
.guide ul {
    background: none repeat scroll 0 0 #EBEBEB;
    width: 100%;
}
.guide li {
    background: none repeat scroll 0 0 #EBEBEB;
    color: #666666;
    float: left;
    height: 30px;
    line-height: 30px;
    position: relative;
    text-align: center;
}
.li1 {
    width: 212px;
}
.li2, .li3 {
    width: 216px;
}
.li4 {
    width: 205px;
}
.li5 {
    width: 430px;
}
.li6 {
    width: 419px;
}
.guide li span {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}
.guide li em {
    display: block;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 13px;
}
.guide li .em1 {
    background: url(../images/huijiantou.png) no-repeat scroll 0 0 transparent;
}
.guide li.current {
    background: none repeat scroll 0 0 #FD843F;
    color: #FFFFFF;
}
.guide li.current span {
    color: #FFFFFF;
}
.guide li.current .em1 {
    background: url(../images/jiantou.png) no-repeat scroll 0 0 transparent;
}
.guide li.current .em2 {
    background: url(../images/caijiantou.png) no-repeat scroll 0 0 transparent;
    left: -13px;
    top: 0;
}
.g_content table {
    margin-top: 62px;
    width: 880px;
}
.g_content table td {
    height: 38px;
    padding-bottom: 30px;
}
.g_td1 {
    font-size: 14px;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    width: 314px;
}
.g_hui {
    color: #999999;
    margin-left: 10px;
    vertical-align: middle;
}
.g_content .mt_login {
    margin-left: 0;
    width: 106px;
}
.limit_w .input_kuang {
    width: 86px;
}
.g_content .g_tr1 td {
    height: 14px;
    padding-bottom: 16px;
}
p.p_intip {
    color: #999999;
}
a.resent {
    color: #FF7800;
    margin-left: 20px;
    text-decoration: underline;
}
.g_content .no_padd td {
    padding-bottom: 0;
}
.g_content .no_padd2 td {
    height: 14px;
    line-height: 16px;
    padding: 16px 0 30px;
}
p.sucss {
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    margin: 62px 0 52px;
    text-align: center;
}
.sucs_div {
    text-align: center;
}
.sucs_div .mt_login {
    color: #000000;
    font-weight: normal;
    height: 26px;
    padding-top: 10px;
    width: 118px;
}
p.sent_p {
    font-size: 14px;
    line-height: 24px;
    margin: 62px 0 42px;
    text-align: center;
}
p.sent_p b {
    margin-left: 10px;
}
.a_cancel {
    margin-top: 26px;
    text-align: center;
}
.a_cancel a {
    color: #FF7E00;
    text-decoration: underline;
}
.mar_k label, .g_content label {
    display: block;
    margin-bottom: 14px;
    vertical-align: middle;
}
.g_content .Mradio {
    margin-right: 10px;
}
.disB {
    display: block;
}
.verT_t {
    vertical-align: top;
}
.ph_mar {
    color: #333333;
    margin: 60px 0 30px;
}
.ph_mar span {
    display: inline-block;
    font-size: 14px;
    padding-right: 10px;
    text-align: right;
    width: 350px;
}
.width_2 span {
    width: 310px;
}
.width_2 .input_kuang {
    width: 80px;
}
.ph_mar p {
    display: inline-block;
    line-height: 20px;
    margin-left: 10px;
    vertical-align: middle;
}
.ph_mar p a {
    color: #FF7E00;
    margin-left: 10px;
    text-decoration: underline;
}
.ph_pad {
    margin-bottom: 22px;
}
.marl_1 {
    padding-left: 360px;
}
.marl_2 {
    padding-left: 320px;
}
.mar_k {
    font-size: 14px;
    margin-top: 100px;
}
.mar_k2 {
    font-size: 14px;
    margin-top: 60px;
}
.some_tips {
    line-height: 1.1;
    margin-bottom: 28px;
    text-align: center;
}
.mar_k label {
    margin-left: 386px;
}
.mar_k2 label {
    display: block;
    margin-bottom: 6px;
    margin-left: 290px;
    vertical-align: middle;
}
.mar_k .sub_bg {
    display: block;
    margin: 50px auto 0;
}
.em_check {
    margin: -12px 0 26px;
    text-align: center;
}
.em_check .input_kuang {
    width: 80px;
}
.em_sub {
    text-align: center;
}
.em_sub .sub_login {
    float: none;
    margin: 0 auto;
}
.pos_new {
    padding: 30px 0 0 290px;
}
#vKey, #vKey_text {
    width: 86px;
}
.goback {
    margin-top: 60px;
    text-align: center;
}
.goback a {
    color: #FF7E00;
    text-decoration: underline;
}
.ph_tips {
    font-size: 14px;
    margin-top: 70px;
    text-align: center;
}
.email_tip {
    font-size: 14px;
    margin: 140px 0 0;
    padding-bottom: 40px;
    text-align: center;
}
.upgrade_info {
    color: #333333;
    font: bold 14px/36px 微软雅黑,黑体,文泉驿黑体;
    padding: 24px 0 52px;
    text-align: center;
}
.third_info {
    margin-bottom: 73px;
}
.third_mess {
    color: #333333;
    float: left;
    font-weight: bold;
    padding: 8px 0 0 38px;
}
.third_tip {
    font-size: 14px;
}
.third_tip a {
    color: #FF6600;
    padding-left: 20px;
    text-decoration: underline;
}
.third_id {
    color: #7D7D7D;
    font-size: 12px;
    font-weight: normal;
    padding-top: 35px;
}
.third_id span {
    color: #333333;
    font-weight: bold;
}
.login_ta .checkcode {
    width: 100px;
}
.checkcode_span {
    display: inline-block;
    overflow: hidden;
    vertical-align: middle;
    width: 200px;
}
.checkcode_span i {
    font-style: normal;
}
.code_error {
    color: #F60745;
}
.footer_copy {text-align:center; padding:10px 0; margin-top:10px}

.yellow {color:#FF6600;}


