Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteRule ^/$  /index.php?type=default&model=index [L]
RewriteRule ^user\/{0,1}$ /index.php?type=user&m=index [L]
RewriteRule ^user/([^\/\.]+)/([0-9]+).html$ /index.php?type=user&m=trainclassdetail&id=$2 [L]
RewriteRule ^user/([^\/\.]+).html$ /index.php?type=user&m=$1 [L]
RewriteRule ^user/([^\/\.]+).html&([^\/\.]+)$  /index.php?type=user&m=$1&$2 [L]
RewriteRule ^user/([^\/\.]+).html\?([^\/\.]+)$  /index.php?type=user&m=$1&$2 [L]
RewriteRule ^ask\/{0,1}$ /index.php?type=ask&m=index [L]
RewriteRule ^ask\/([^\/\.]+).html$ /index.php?type=ask&m=$1 [L]
RewriteRule ^ask\/([^\/\.]+)/([0-9]+).html&([^\/\.]+)$ /index.php?type=ask&m=detail&id=$2&$3 [L]
RewriteRule ^ask\/([^\/\.]+)/([0-9]+).html$ /index.php?type=ask&m=detail&id=$2 [L]
RewriteRule ^ask/([^\/\.]+).html\&([^\/\.]+)$  /index.php?type=ask&m=$1&$2 [L]
RewriteRule ^eorr/([^\/\.]+).html$ /index.php?type=eorr&m=$1 [L]
RewriteRule ^eorr/([^\/\.]+)\/{0,1}$ /index.php?type=eorr&model=$1 [L]
RewriteRule ^([^\/\.]+).html  /index.php?type=default&m=$1 [L]
RewriteRule ^(?!admin)([^\/\.]+)\/{0,1}$ /index.php?type=article&m=index&cate=$1 [L]
RewriteRule ^(?!admin)([^\/\.]+)\/([^\/\.]+)-([0-9]+).html  /index.php?type=article&m=detail&cate=$1&id=$3 [L]